<ion-view title="{{ 'USE' | translate }}">
    <ion-content class="padding">

        <h4>Política de uso</h4>
        <p>
            O presente instrumento constitui o acordo completo e integral entre as partes, em relação ao uso da aplicação SNACK4ME
            e dos serviços disponibilizados por esse canal, substituindo todo e qualquer acordo prévio que haja sido formalizado,
            de modo verbal ou escrito, com respeito ao uso da aplicação SNACK4ME. Ao utilizar a aplicação SNACK4ME, o USUÁRIO
            aceita os termos deste instrumento completamente, concordando que ele passa a assumir caráter obrigatório e
            vinculativo. Se não está de acordo com os termos de uso do SNACK4ME, alguma parte deles, ou as políticas e princípios
            que o regulamentam e as que estão dispostas nesse instrumento, o USUÁRIO não deve fazer uso da aplicação SNACK4ME.
        </p>
        <br>
        <h4>Serviços</h4>
        <p>
            SNACK4ME é uma aplicação de propriedade da S4M Desenvolvimento e Tecnologia Ltda. (a “S4M”), sociedade regularmente
            constituída e em atividade segundo as Leis da República Federativa do Brasil, desenvolvida com o objetivo de
            viabilizar a escolha, pelo USUÁRIO, por meio de dispositivos móveis (smartphones e tablets), de determinados produtos,
            especialmente os do gênero alimentício, que serão produzidos, disponibilizados e entregues exclusivamente por
            terceiros (os “PARCEIROS”), de acordo com o(s) cardápio(s) e o(s) valor(es) previamente definido(s) pelos PARCEIROS
            e constantes da aplicação SNACK4ME.
        </p>
        <br>
        <h4>Responsabilidade</h4>
        <p>
            SNACK4ME apenas possibilita a intermediação entre os interesses do USUÁRIO e dos PARCEIROS, não possuindo qualquer
            responsabilidade pela escolha, comercialização, produção, modo de preparo, embalagem, integridade sanitária, qualidade,
            alergenicidade dos ingredientes e forma e tempo de entrega dos produtos alimentícios disponibilizados pelos PARCEIROS,
            a quem deverão ser direcionadas quaisquer reclamações relacionadas à deficiência dos produtos ou dos serviços
            disponibilizados aos USUÁRIOS. SNACK4ME também não se responsabiliza por qualquer dano, prejuízo ou perda que tenha
            sofrido o USUÁRIO e que decorra de falhas no sistema, no servidor ou inconsistência na Internet ou em qualquer outro
            meio de transmissão de dados, incluindo quaisquer espécies de vírus que possam infectar o aparelho do USUÁRIO e/ou
            dos PARCEIROS e o sistema de telefonia móvel utilizado. O USUÁRIO também concorda que SNACK4ME não garantirá o acesso
            contínuo e ininterrupto à sua aplicação, que poderá ficar indisponível devido a dificuldades técnicas, manutenção
            periódica, atualização do software, falhas da Internet, desfazimento dos contratos com os PARCEIROS ou por qualquer
            outra circunstância alheia ao SNACK4ME.
        </p>
        <br>
        <h4>Cadastro</h4>
        <p>
            O USUÁRIO, para utilizar o Snack4me deverá ter capacidade jurídica para atos civis e, obrigatoriamente, prestará as
            informações exigidas no CADASTRO, assumindo integralmente a responsabilidade (inclusive cível e criminal) pela
            exatidão e veracidade das informações fornecidas no CADASTRO. O USUÁRIO menor de 18 (dezoito) anos de idade está
            ciente de que não poderá encomendar e adquirir, em qualquer hipótese, produtos alcoólicos, responsabilizando-se
            pela correta informação de sua idade no item CADASTRO. A seu exclusivo critério, SNACK4ME se reserva no direito de
            não concluir o cadastramento em curso ou, ainda, de bloquear o cadastro já existente, impedindo o USUÁRIO de
            utilizar os seus serviços nos casos em que o USUÁRIO prestar informações incorretas, inverídicas ou não confirmadas,
            bem assim na hipótese da negativa em corrigi-las ou enviar documentação que comprove a correção, ou utilizar o
            SNACK4ME para a prática de atos escusos ou que causem lesão a terceiros. A partir da efetiva conclusão do CADASTRO,
            o USUÁRIO terá acesso ao SNACK4ME por meio de login e senha de uso pessoal e intransferível e ficará responsável
            por toda e qualquer solicitação de serviço que seja feita com o uso desses dados.
        </p>
        <br>
        <h4>Pagamentos</h4>
        <p>
            O USUÁRIO poderá realizar o pagamento do preço dos produtos solicitados pelo USUÁRIO, por meio da própria aplicação
            SNACK4ME, nos casos em que o SNACK4ME e os PARCEIROS consentirem. O USUÁRIO será o único responsável pelo pagamento
            integral dos valores exigidos pelos PARCEIROS em decorrência da solicitação de quaisquer produtos pelo SNACK4ME.
        </p>
        <br>
        <h4>Feedback e Privacidade</h4>
        <p>
            Para o constante aprimoramento dos serviços disponibilizados pela aplicação SNACK4ME, o USUÁRIO concorda com o
            uso das informações de avaliações e feedbacks dos serviços dos PARCEIROS. Por outro lado, SNACK4ME declara e se
            obriga a somente usar os dados pessoais inseridos pelo USUÁRIO para o fim de administrar, aprimorar, corrigir
            problemas e garantir o correto funcionamento da aplicação SNACK4ME, habilitar o USUÁRIO para utilizar o SNACK4ME,
            melhorar a experiência do USUÁRIO na utilização da aplicação, enviar ao USUÁRIO comunicados gerais e específicos,
            de caráter técnico e/ou comercial, fornecer aos PARCEIROS dados sobre as solicitações de produtos formuladas por
            meio do SNACK4ME, podendo gerar quaisquer relatórios estatísticos e informações sobre consumo. SNACK4ME envidará
            todos os esforços para proteger, por meio de armazenamento em servidores ou quaisquer outros meios de alta segurança,
            a confidencialidade de todas as informações e cadastros relativos ao USUÁRIO e às operações que forem realizadas por
            meio do SNACK4ME. O USUÁRIO concorda que o dever de confidencialidade não se aplica no caso de as informações
            relativas ao USUÀRIO vierem a ser solicitadas do SNACK4ME por quaisquer autoridades públicas e judiciais reconhecidas.
            O USUÁRIO também concorda que SNACK4ME não responderá por nenhum dano ou prejuízo decorrente da apreensão e cooptação
            de dados por quaisquer terceiros que, rompendo os sistemas de segurança existentes, venham a acessar as informações
            do USUÁRIO sem autorização do USUÁRIO e do SNACK4ME.
        </p>
        <br>
        <h4>Modificação do presente instrumento e cessão de direitos</h4>
        <p>
            O presente instrumento poderá, a qualquer tempo, ter seu conteúdo, ou parte dele, modificados para adequações e
            inserções, tudo com vistas ao aprimoramento dos serviços disponibilizados pelo SNACK4ME. O USUÀRIO também concorda
            que SNACK4ME poderá ceder todos os direitos e obrigações decorrentes do presente instrumento e da relação mantida
            com o USUÀRIO, independentemente da anuência do USUÁRIO. A cessão de quaisquer direitos e obrigações do USUÁRIO a
            terceiros depende de prévia e expressa anuência da S4M.
        </p>
        <br>
        <h4>Legislação aplicável e foro</h4>
        <p>
            O presente instrumento é regido de acordo com a lei Brasileira. As partes elegem o foro da Comarca de Belo Horizonte,
            Minas Gerais, para dirimir quaisquer controvérsias decorrentes da aplicação do presente instrumento.
        </p>

    </ion-content>
</ion-view>